<% content_for(:title, "List | To Do") %>

<h1><%= @list.name %></h1>

<% if @list.tasks.any? %>
  <h4>Here are the tasks for this list:</h4>

  <ul>
    <% @list.tasks.each do |task| %>
      <li>
        <%= task.description %>
          <%= form_for [@list, task], :html => { :class => 'form-inline' } do |f| %>
                   <input name="_method" type="hidden" value="patch" />
                   <%= f.hidden_field :done, :value => true %>
                   <button type="submit" class="btn btn-primary btn-xs">Mark Done</button>
                   <% end %>

        <%= link_to "Edit", edit_list_task_path(@list, task) %>
        <%= link_to "Delete", list_task_path(@list, task),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no tasks yet!</p>
<% end %>

<p><%= link_to "Add a task", new_list_task_path(@list) %></p>
<p><%= link_to "Delete List", list_path(@list),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to lists", lists_path %></p>

<h4>Here is all the tasks that are actually done:</h4>

<% @tasks.each do |t| %>
<li><%=t.description %></li>
<% end %>
